* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    padding-top: 10px;
}

div{
    width: 400px;
    margin-inline: auto;
}

main{
    border: 1px solid black;
    margin-bottom: 10px;
}

img{
    height: 220px;
    width: 200px;
    display: block;
    border: 2px solid black;
    
}

a{
    border: 1px solid black;
}

.b {
    border: 2px solid black;
    display: inline-block;
    padding-right: 100px;
    padding-bottom: 100px;
}

.a{
    border: 2px solid black;
    display: inline-block;
    padding-right: 100px;
    padding-bottom: 100px;
}

footer{
    border: 1px solid black;
}